.App {
  text-align: center;
  height: 100%;
}

p, h1, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

body{
  /* background-color: rgb(254, 255, 214); */
  background-image: url('./images/main-background.jpg');
  margin: 0; padding: 0; height: 100%; width: 100%;
}
html {
  margin: 0; padding: 0; height: 100%; width: 100%;
}

.jumbotron {
  background-image: linear-gradient(to right top, #7b3ece, #556ae9, #288bf8, lightblue);
  color: white;
  font-family: 'Sniglet', cursive;
  text-shadow: 2px 2px 8px rgb(151, 213, 255);
}

.jumbotron h1 {
  font-size: 100px;
  font-family: "sniglet";
}

.jumbotron p {
  font-size: 35px;
  font-weight: 100;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

iframe{
  min-height: 100%;
  min-width: 100%;
}

.clearfix {
   overflow: auto;
}

.resizer {
  border-radius: 10px;
  background-color: peachpuff;
  min-width: 20px;
  cursor: se-resize;

}
#viewer-col {
min-height: 25px;

}

#welcome-h1 {
  margin-bottom: 35px;
}
.resizer-icon {
  position: absolute;
  bottom: 0;
  right: 0.5px;

}

.auth-btn {
  min-height: 50px;
  border-radius: 20px;
  background-color: lightblue;
}

.auth-btn:hover {
  box-shadow: 3px 3px 5px black;
}


.contentDiv-btn1, .contentDiv-btn2 {
  min-height: 40px;
  border-radius: 10px;
  color: white;

}

.contentDiv-btn1, .contentDiv-btn2 {
  min-width: 80px;
}
.contentDiv-btn1 {
  background-color: #c23ece;

}
.contentDiv-btn2 {
  background-color: #3e54ce;

}



.btn-create, .btn-delete {
  background-color: #ce3e92;
  color: white;
}

.btn-clear {
  background-color: rgb(255, 200, 152);
  float: right;
}

.btn-create, .btn-clear{
  box-shadow: 3px 3px 5px black;

}

.card{
  box-shadow: 2px 5px 10px #5a618a;
}

.citation-container {
  background-color: peachpuff;
  border-radius: 20px;
  box-shadow: 3px 3px 5px  #51556d;
}

.sign-form {
  border-radius: 25px;
  box-shadow: 5px 5px 15px #5a618a;
}

.slide-wrapper{
  opacity: 0
}

.mainpage-welcome {
  color: white;
  font-size: 24px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px black;
  position: absolute;
  background-color: peachpuff;
  border-radius: 25px;
  min-height: 300px;
  left: -1500px;
  margin-bottom: 400px;
  padding: 10% 2%;
  text-align: center;
  z-index: 1;
  box-shadow: 10px 10px 15px #858caf;
}

.main-slide {
  left: 15%;
  top: 25%;
  transition: 2s ease-in-out;
  
}

#button-addon2 {
  background-color: #faf3c9;
}

.note-body {
  border-radius: 15px;
  background-color: rgb(231, 233, 248);

}

.main-out{
  opacity: 0;
  transition: .5s ease-out;
  visibility: 0;
  z-index: -1;
  margin-bottom: 0;
}

.slidein {
  opacity: 1;
  transition: 0.8s ease-in;
}
.cardColor0{
  background-color: #F2E6E6;
}
.cardColor1{
  background-color:#C9E2F2;
}
.cardColor2{
  background-color:#9DE6EA;
}
.cardColor3{
  background-color:#9DEADB;
}

.input-group {
  border-radius: 3px;
  box-shadow: 2px 3px 8px #696e8f;

}

.footer {
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(253, 255, 159);

  padding: 25px;
}


@media (max-width: 450px) {

    .auth-btn {
      font-size: 11px;
    }
  
    .jumbotron {
      overflow: hidden;
    }

    .jumbotron p {
      visibility: hidden;
      position: absolute;
        }
      
    .jumbotron h1{
        font-size: 50px;
        };

    .jumbotron {
      overflow: hidden;
      }
    #welcome-h1 {
      margin: 0px 0px 2px;
    }

    #welcome-p{
      font-size: 14px;

      }

    #mainpage-welcome{
        max-height: 200px;
        padding: 2px;
        }
      

    .App {
        padding-left: 1%;
        padding-right: 1%;
      }

    .btn-create {
        font-size: 14px;
      }
    
    .btn-clear {
      float: none;
    }

    a[href*="editnote"]{
      visibility: hidden;
      z-index: -1;
      position: absolute;
    }

    .resizer {
        visibility: hidden;
      }

    .navbar {
        z-index: 1;
        width: 105%;
        left: -5px;
      }

    .input-group-append {
        z-index: 0;
      }

    iframe {
        min-height: 300px;
      }

    .nav-link {
      padding: 0;

      }

    input::placeholder {
      font-size: 11px;

      }
      
  }
        
