.App {
  text-align: center;
  height: 100%;
}

body{
  background-color: rgb(254, 255, 214);
  margin: 0; padding: 0; height: 100%; width: 100%;
}
html {
  margin: 0; padding: 0; height: 100%; width: 100%;
}

.jumbotron {
  background-image: linear-gradient(to right top, #7b3ece, #556ae9, #288bf8, lightblue);
  color: white;
  font-family: 'Sniglet', cursive;
  text-shadow: 2px 2px 8px rgb(151, 213, 255);
}

.jumbotron h1 {
  font-size: 100px
}

.jumbotron p {
  font-size: 35px;
  font-weight: 100;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

iframe{
  min-height: 100%;
  min-width: 100%;
}

iframe{
  min-width: 100%;
  min-height: 100%;
}

.clearfix {
   overflow: auto;
}

.resizer {
  border-radius: 10px;
  background-color: peachpuff;
  min-width: 20px;
  cursor: se-resize;

}
#viewer-col {
min-height: 25px;
}
.resizer-icon {
  position: absolute;
  bottom: 0;
  right: 0.5px;

}

.auth-btn {
  min-height: 50px;
  border-radius: 20px;
  background-color: lightblue;
}

.contentDiv-btn1, .contentDiv-btn2 {
  min-height: 40px;
  border-radius: 10px;
  color: white;

}

.contentDiv-btn1, .contentDiv-btn2 {
  min-width: 80px;
}
.contentDiv-btn1 {
  background-color: #c23ece;

}
.contentDiv-btn2 {
  background-color: #3e54ce;

}

.auth-btn:hover {
  box-shadow: 3px 3px 5px black;
}

.btn-create, .btn-delete {
  background-color: #ce3e92;
  color: white;
}

.btn-clear {
  background-color: rgb(255, 200, 152);
}

.btn-create, .btn-clear{
  box-shadow: 3px 3px 5px black;

}

.card{
  box-shadow: 2px 5px 10px #5a618a;
}

.cardColor0{
  background-color: #F2E6E6;
}
.cardColor1{
  background-color:#C9E2F2;
}
.cardColor2{
  background-color:#9DE6EA;
}
.cardColor3{
  background-color:#9DEADB;
}

.input-group {
  border-radius: 3px;
  box-shadow: 2px 3px 8px #696e8f;

}

.footer {

  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(253, 255, 159);

  padding: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
